<h2 id="title">Welcome to Ember</h2>

<p>Diese Liste der Kawasaki-Motorräder ist nicht alphabetisch, sondern chronologisch und nach Motorradtypen gegliedert.</p>
<ul>
  {{#each model as |kawaUnit|}}
      {{kawa-listing kawa=kawaUnit}}
  {{/each}}
</ul>
{{outlet}}