{{outlet}}

<h2>About Super Rentals</h2>

<p>
    Das Unternehmen Kawasaki Heavy Industries (kurz Kawasaki, Abkürzung KHI; jap. 川崎重工業株式会社 Kawasaki Jūkōgyō Kabushiki kaisha) ist ein japanischer Schwerindustrie-Konzern, gelistet im Nikkei 225. Hauptsitz ist Kōbe, Hyōgo, Japan.
</p>
